body {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: antiquewhite;
	position: absolute;
	box-sizing: border-box;
}

.container {
	
	
	image-rendering: pixelated;
	position: relative;
	height: 160px;		
	width: 32px;		 

}

.tile {
	position: absolute;	
}

.dot {
	background-color: aliceblue;
	width: 2px;
	height: 2px;
	border-radius: 100%;
	border: solid 1px black;
	position: absolute;
	transform: translateX(-50%) translateY(-25%);
}

.dot:hover {
	background-color: white;
	border-color: red;
}